<!-- Login modal -->
<div class="body-sign">
    <!--login body-->
    <div class="container" ng-app="inputInvalid" ng-controller="validateCtrl" >
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center"  >
                <img class="img-circle logo" src="images/logo.jpg">
            </div>
            <div class="col-md-6 col-md-offset-3 text-center login-header"  >
                <h1>Sign in</h1>
            </div>
            <div class="col-md-6 col-md-offset-3 alert alert-danger alert-dismissible" ng-show="invalid_email">
                <!--<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>-->
                <strong>Note:</strong> User does not exist, please try another account again.
            </div>
            <div class="col-md-6 col-md-offset-3 alert alert-danger alert-dismissible" ng-show="invalid_passwd">
                <!--<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>-->
                <strong>Note:</strong> Password error, please try again.
            </div>
            <div class="col-md-6 col-md-offset-3 panel panel-default " >
                <form method="post"  ng-submit="checkAccount()" name="loginForm" novalidate>
                    <p class="login-text">
                        Username or email address
                    </p>
                    <p class="input-group">
                         <span class="input-group-addon">
                             <span class="glyphicon glyphicon-envelope"></span>
                         </span>
                        <input type="email" class="form-control input-lg " name="email" ng-model="email"
                               placeholder="enter name or email" required>
                    </p>
                    <span style="color: red" ng-show="loginForm.email.$dirty && loginForm.email.$invalid">
                            <span ng-show="loginForm.email.$error.required">
                                Must not empty!
                            </span>
                            <span ng-show="loginForm.email.$error.email">
                                Invalid email!
                            </span>
                    </span>
                    <p class="login-text">
                        Password
                    </p>
                    <p class="input-group">
                         <span class="input-group-addon">
                             <span class="glyphicon glyphicon-pencil"></span>
                         </span>
                        <input type="password" class="form-control input-lg" name="password" ng-model="password"
                               placeholder="enter password here" required>
                    </p>
                    <span style="color: red" ng-show="loginForm.password.$dirty && loginForm.password.$invalid">
                            <span ng-show="loginForm.password.$error.required">
                                Must not empty!
                            </span>
                    </span>
                    <p class="text-center">
                        <button type="submit"
                                ng-disabled="loginForm.email.$invalid || loginForm.password.$invalid" class="btn btn-success btn-lg bt-sign" >
                            Sign in
                        </button>
                    </p>
                </form>
            </div>
            <div class="col-md-6 col-md-offset-3 text-center"  >
                <p class="help-block text-center">
                    New to here? <a href="/register">Create an account</a>.
                </p>
            </div>
        </div>
    </div>
    <!--login body end-->
</div>
